*

!.gitignore

!.vimrc
!.vim
!.vim/autoload
!.vim/autoload/plug.vim

!.zsh
!.zsh/tweaks
!.zsh/tweaks/*
!.zsh/zgen-init
!.zsh/zshrc

!.zshrc
!.zshenv

!.profile
!.zprofile
!.bash_profile

!.bin
!.bin/*
!.bin/my_dmenu_files
!.bin/my_dmenu_files/*

!.dotfiles
!.dotfiles/*

.dotfiles/oh-my-zsh
.bashrc

!.i3
!.i3/*

!.conky
!.conky/*

!.wgetrc

*.swp
