*

!.gitignore

!.vimrc
!.vim
!.vim/autoload
!.vim/autoload/plug.vim

!.zshrc
!.zshenv

!.bin
!.bin/*

!.dotfiles
!.dotfiles/*

.dotfiles/oh-my-zsh
.bashrc

!.i3
!.i3/*

!.conky
!.conky/*

!.wgetrc

*.swp
